.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-header,
.app-footer {
  padding: 5px;
  color: #333;
  background: lightblue;
  text-align: center;
}

.app-main {
  background: lightyellow;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-main .main-nav {
  border-right: 1px solid #ccc;
  min-width: 100px;
}

.app-main .main-nav ul {
  margin-left: 5px;
}

.app-main .main-nav a {
  display: block;
  padding: 5px;
}

.app-main .main-content {
  flex: 1;
  margin: 5px;
}
